<div id="{{ id }}" class="mb-element mb-element-alkissearchxy hidden" data-title="{{ title |trans }}">
    <div class="mb-element-alkissearchxy-text"> Koordinatensystem : </div>
    <select class="mb-element-alkissearchxy-input"id ="alkissearchxy-kosy">
    </select>
    <div class="mb-element-alkissearchxy-text"> x-Koordinate : </div>
    <input class="mb-element-alkissearchxy-input" id="input-x" type="text" maxlength="15" data-validate="[0-9\.]"/>
    <div class="mb-element-alkissearchxy-text"> y-Koordinate : </div>
    <input class="mb-element-alkissearchxy-input" id="input-y" type="text" maxlength="15" data-validate="[0-9\.]"/>
</div>